{{- if eq .chezmoi.username "zulberti" }}
if status --is-interactive
    set -l token_file "$HOME/.local/share/1password/token"

    # Prompt only once, only in an interactive login shell.
    if status --is-login; and not test -s "$token_file"
        mkdir -p (dirname "$token_file")
        chmod 700 (dirname "$token_file")

        read --prompt-str "Enter 1Password Service Account token: " --silent --local token

        if test -n "$token"
            set -l old_umask (umask)
            umask 077
            printf '%s\n' "$token" >"$token_file"
            umask "$old_umask"

            chmod 600 "$token_file"
        end
    end

    # Export token for child processes.
    if test -s "$token_file"
        set -gx OP_SERVICE_ACCOUNT_TOKEN (string trim --right -- (string collect < "$token_file"))
    end
end
{{- end }}

# If SSH Agent is not set or is using macOS Launchd socket...
if not set -q SSH_AUTH_SOCK \
        || string match -q "*com.apple.launchd.*" -- $SSH_AUTH_SOCK
    # Use 1Password SSH Agent if available
    if test -S $HOME/.1password/agent.sock
        set -gx SSH_AUTH_SOCK $HOME/.1password/agent.sock
    else if test -S $HOME/Library/Group\ Containers/2BUA8C4S2C.com.1password/ssh-agent.sock
        set -gx SSH_AUTH_SOCK $HOME/Library/Group\ Containers/2BUA8C4S2C.com.1password/ssh-agent.sock
    end
end

# Ensure ~/.agent.sock always links to the active SSH_AUTH_SOCK
if set -q SSH_AUTH_SOCK
    ln -sf $SSH_AUTH_SOCK $HOME/.agent.sock
else
    rm -f $HOME/.agent.sock
end
