[onepassword]
{{- if or (eq .chezmoi.username "luca") (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
    mode = "account"
{{- else }}
    mode = "service"
{{- end }}    
