[include]
	path = /home/{{- .chezmoi.username -}}/.config/delta/themes/catppuccin.gitconfig
[user]
	name = Luca Zulberti
{{- if eq .chezmoi.username "zulberti" }}
	email = Luca.Zulberti@ingeniars.com
	signingkey = {{ onepasswordRead "op://IngeniArs/IngeniArs GitLab Key/public_key" }} IngeniArs GitLab
{{- else }}
	email = zulberti.luca@gmail.com
	signingkey = {{ onepasswordRead "op://Private/GitHub Key/public_key" }} GitHub
{{- end }}
[init]
	defaultBranch = main
[protocol "file"]
	allow = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff "lockb"]
	textconv = bun
	binary = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
	program = ssh-keygen.exe
{{- end }}
[core]
	pager = delta
{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
	sshCommand = ssh.exe
{{- end }}
	hooksPath = /home/{{- .chezmoi.username -}}/.config/git/hooks
[interactive]
	diffFilter = delta --color-only
[delta]
	features = catppuccin-mocha
	navigate = true
	line-numbers = true
[merge]
	conflictStyle = zdiff3
