{{- if eq .chezmoi.username "zulberti" }}
{{ onepasswordRead "op://IngeniArs/GitHub Key/public_key" }} GitHub
{{- else -}}
{{ onepasswordRead "op://Private/GitHub Key/public_key" }} GitHub
{{- end }}
