# Read more about SSH config files: https://linux.die.net/man/5/ssh_config

Host *
{{- if eq .chezmoi.os "darwin" }}
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
    ForwardAgent yes

{{- if eq .chezmoi.username "luca" }}
# Casa
###

Host *.zulberti.local
    User root
    Port 22
    IdentityFile ~/.ssh/id_ed25519_zulbertinet.pub
    SendEnv OP_SERVICE_ACCOUNT_TOKEN
{{- end }}

# IngeniArs
###

Host *.ingeniars.com
    IdentityFile ~/.ssh/id_ed25519_ingeniars_gitlab.pub

{{- if eq .chezmoi.username "zulberti" }}
Host *.ing
    SendEnv OP_SERVICE_ACCOUNT_TOKEN
{{- end }}

# Github
###

Host github.com *.github.com
    IdentityFile ~/.ssh/id_ed25519_github.pub
