{{- if eq .chezmoi.username "zulberti" -}}
Luca.Zulberti@ingeniars.com {{ onepasswordRead "op://IngeniArs/IngeniArs GitLab Key/public_key" }}
zulberti.luca@gmail.com {{ onepasswordRead "op://IngeniArs/GitHub Key/public_key" }}
{{- else -}}
zulberti.luca@gmail.com {{ onepasswordRead "op://Private/GitHub Key/public_key" }}
zulberti.luca@gmail.com {{ onepasswordRead "op://IngeniArs/GitHub Key/public_key" }}
{{- end }}
