[language-server.efm]
command = "efm-langserver"
args = ["-c", "/home/{{ .chezmoi.username }}/.config/efm-langserver/config.yaml"]
config = { documentFormatting = true }

[[language]]
name = "bash"
formatter = { command = "shfmt", args = ["-i", "2"] }
auto-format = true

[[language]]
name = "git-commit"
rulers = [72, 100]
text-width = 100
soft-wrap = { enable = true, wrap-at-text-width = true }

[[language]]
name = "cmake"
formatter = { command = "cmake-format", args = ["-"] }
auto-format = true

[[language]]
name = "vhdl"
persistent-diagnostic-sources = ["vsg"]
language-servers = [
  { name = "efm", only-features = ["diagnostics", "format"] },
  { name = "vhdl_ls", except-features = ["format"] },
]
auto-format = true

[[language]]
name = "yaml"
auto-format = true
formatter = { command = "prettier", args = ["--stdin-filepath", "%{buffer_name}"] }

[[language]]
name = "typescript"
language-servers = [
  { name = "typescript-language-server", except-features = ["format"] },
  { name = "angular", except-features = ["format"] },
]
formatter = { command = "prettier", args = ["--stdin-filepath", "%{buffer_name}"] }
auto-format = true

[[language]]
name = "html"
language-servers = [
  { name = "vscode-html-language-server", except-features = ["format"] },
  { name = "angular", except-features = ["format"] },
]
formatter = { command = "prettier", args = ["--stdin-filepath", "%{buffer_name}"] }
auto-format = true

[[language]]
name = "css"
formatter = { command = "prettier", args = ["--stdin-filepath", "%{buffer_name}"] }
auto-format = true

[[language]]
name = "scss"
formatter = { command = "prettier", args = ["--stdin-filepath", "%{buffer_name}"] }
auto-format = true

[[language]]
name = "json"
formatter = { command = "prettier", args = ["--stdin-filepath", "%{buffer_name}"] }
auto-format = true
